<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>My Card</title>
</head>
<body>
   <div class="profile-card">
  <div class="avatar">
    <img src="/image.jpeg" alt="Avatar">
  </div>
  <div class="user-info">
    <h1>Nicholas Mendez</h1>
    <h2>Web Developer</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec nulla rutrum, tincidunt turpis eu, pharetra odio. Sed auctor, nisi ac finibus semper, augue purus pulvinar leo, in tempus tortor est eget felis.</p>
    <ul>
      <li><i class="fab fa-envelope"></i> nicholasmeeeendez@gmail.com</li>
      <li><i class="fab fa-twitter"></i> @nicholasmendez11</li>
      <li><i class="fab fa-linkedin"></i> linkedin.com/in/nicholasgmendez</li>
    </ul>
  </div>
</div>

    
</body>
</html>